<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Movimientos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-list lines="none">
    <ion-item *ngFor="let mov of movimientos; index as i">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Movimiento - {{i + 1}}</ion-card-title>
          <ion-card-subtitle>Creado por {{mov.creadoPor}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{mov.descripcion}}
        </ion-card-content>     
        <ion-button (click)="playRecording(mov.comandos)" fill="clear">Ver movimiento</ion-button>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>